.mediacard{

    border-bottom: 2px solid rgb(105, 101, 101);
    overflow: hidden;
    background: rgb(188, 178, 178);
    padding: 1rem;
    margin: 0 0 1rem 0;
    width: 80%;
    margin-left: 80px;
    
    
    }
    
    .mediacard img {
        width: 82px;
        height: 75%;
        float: left;
        margin: 0 1rem 0 0 ;
        justify-content: center;
    }
    
    h4 {
        margin: 0 0 0.5rem 0;
        display: flex;
        align-items: center;
        
    }