.btn {
    font-family: 'Anek Telugu', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
}

/*BUTTON COLOURS*/

.headerbutton {
    background-color: var(--background);
    color: var(--primary);
    border: none;
    font-weight: bold;
}
.headerbutton:hover {
    background-color: var(--headerhighlight);
}

.primary {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    font-weight: bold;
}
.primary:hover {
    background-color: var(--highlight);
}

.formulary {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    font-weight: bold;
}
.formulary:hover {
    background-color: var(--highlight);
}

.new {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    font-weight: bold;
}
.new:hover {
    background-color: var(--highlight);
}

.edit {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    font-weight: bold;
}
.edit:hover {
    background-color: var(--highlight);
}

.delete {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    font-weight: bold;
}
.delete:hover {
    background-color: var(--highlight);
}

.artist {
    background-color: var(--secondary);
    color: var(--background);
    border: none;
    font-weight: bold;
}
.artist:hover {
    background-color: var(--highlight);
}

/*BUTTON SIZES*/
.diminute {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
}
.small {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 6px;
    
}
.medium {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 6px;
}
.large {
    padding: 15px 40px;
    font-size: 28px;
    border-radius: 6px;
}