header {
}

h1 {
  color: var(--color-font-secondary);
}

header nav {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.upperside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.upperside_logo {
  width: 15%;
}

.logo_container {
  height: 50px;
  width: 50px;
  background-image: var(--logo);
  background-size: contain;
}
.logo_container img {
  width: 100%;
}

.upperside_title {
  width: 70%;
}

.upperside_toggle {
  width: 15%;
}
